<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <!-- As a link -->
<!-- As a heading -->
<div class="container-fluid">
    <!-- awal header -->
    <div class="row"> 
        <div class="col bg-primary" style="height: 90px;">
            <h1 class="py-3 text-right">CV - NAMA</h1>
        </div>
    </div>
    <!-- akhir header -->
  
    <div class="row h-100">
        <div class="col-auto bg-secondary" style="width: 250px;">
           <a href="task3.html" class="btn btn-light btn-lg">My CV</a> 
            <a href="skill.html" class="btn btn-light btn-lg">My Skill</a> 
        </div>
        <div class="col">
            <img src="15.jpg" class="img-thumbnail" alt="..." style="width: 150px; height: 150px;">
            <table class="table">
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Nama </td>
                    <td>Bama Qyandija Deandra</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>tempat lahir </td>
                    <td>Tasik,13 February 2003</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td >Email</td>
                    <td>bamaqyan@gmail.com</td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td >Nomor HP</td>
                    <td>085708339519</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
    <div class="row"> 
        <div class="col " style="height: 10px;">
            <p class="py-3 text-right">Bama Qyandija</p>
        </div>
    </div>
</div>
</body>
