.top {
  background-color: black;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}
ul,
li {
  list-style-type: none;
  color: white;
}
img {
  float: left;
  width: 170px;
  height: 170px;
}
* {
  box-sizing: border-box;
}
nav {
  float: left;
  width: 30%;
  height: 300px;
  background: red;
  padding: 20px;
}
article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: white;
  height: 300px;
}
